@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

button,
input,
textarea {
  letter-spacing: 0;
}

